body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 70%;
  color: #00FF00;
  border: 5px solid #00FF00;
  padding: 20px;
  margin: 0 auto;
}

hr {
  border-color: #00FF00;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section{
  width: 100%;
  padding: 1px;
  justify-items: center;
}

table {
  width: 100%;
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: collapse;
  justify-self: center;
  justify-items: left;
}

h1, h2 {
  text-align: center;
  color: #00FFFF
}

th {
  border: 1px solid green;
  padding: 8px;
}

td {
  border: 1px solid gray;
  padding: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  border: 1px solid greenyellow;
  padding: 10px;
  border-radius: 5px;;
  margin-left: 20px;
  margin-top: 25px;
  width: 50%;
}

#form-header{
  margin-bottom: 50px;
}

#item-submission {
  display: grid;  
  grid-template-columns: max-content 1fr;
  gap: 30px;
  margin-left: auto;
}

#load-data {
  border-radius: 5px;
  height: 30px;
  width : 200px;
  background-color: #FF003C;
  color: #00FF00;
  font-size: large;
}

.delete-button {
  border-radius: 5px;
  height: 30px;
  width : 100px;
  background-color: #FF003C;
  display: block;
  margin: 0 auto;
}

#submit-button{
  border-radius: 5px;
  height: 30px;
  background-color: #FF003C;
  color: #00FF00;
  grid-column: 2;
  margin: 10px;
  width: 50%;
  justify-self: end;
  font-size: large;
}

input {
  background-color: black;  
  color: #00FF00;          
}

::placeholder {              
  color: #00FFFF;
  opacity: 0.75;           
}
